.license {
    text-align: center;
    background-color: #00B0D4;
}

.license-main {
    background-color: #E9E9E9;
    font-size: medium;
}

.license-title {
    font-size: xx-large;
    font-weight: 900;
    color: white;
    padding: 1em;
}

.license-title-2 {
    font-size: xx-large;
    font-weight: 900;
    padding: 1em;
}

.license-logo {
    max-width: 25%;
}

.license-license {
    font-size: large;
    text-align: right;
}

.lang {
    text-align: center;
}
